body {
  background-color: lightblue;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2.header {
  text-align: center;
  font-family: 'optimusprincepsregular';
}

.allwrtie {
  border: 3px solid;
  text-align: justify;
  background-color: rgb(250, 235, 215, 0.6);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  font-family: ubunturegular;
  font-size: large;
}

p.passage{
  text-align: center;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(0, 166, 255);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 94, 255, 0.6);
  color: white;
  text-align: center;
  font-family: sans-serif;
}

table{
  border-collapse: collapse;
  margin-right: 30px;
  margin-left: 30px;
}

p.table_head{
  border-bottom: 3px solid rgb(23, 112, 167);
  margin-left: 20px;
}

tr:hover{
  background-color: #f5f5f5;
  cursor: pointer;
}

td{
  padding: 5px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

td.td2{
  text-align: left;
}

td.td3{
  text-align: right;
}

video{
  width: 100%;
  height: auto;
  max-width: 700px;
  margin-top: 30px;
}

div.block1A{
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

div.block2A{
  width: 39%;
  display: inline-block;
  vertical-align: top;
}

div.block1B{
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

div.block2B{
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

div.block3B{
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 700px) {
  div.block1A,
  div.block2A,
  div.block2B,
  div.block3B{
    width: 100%;
  }
}

button.download_button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 32px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p.download_text{
  text-align: center;
}

div.download_image {
  display:inline-block;
}

div.download_text {
  display:inline-block;
}
